<template>
  <div>
    <h3>
      Master-Detail Sample
      <small class="text-muted">by Mostafa Rowghanian</small>
    </h3>
    <hr />

    <Classes />

    <br /><br />

    <Students />

  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import CommonService from './Services/CommonService'
  import Classes from './Components/Classes.vue'
  import Students from './Components/Students.vue'
  export default {
    name: 'app',
    components: {
      Classes,
      Students
    },
    data: () => ({
    }),
    mounted() {
      this.loadClasses().catch(m => {
        CommonService.Alert('loading classes failed because: ' + m);
      });
    },
    methods: {
      ...mapActions(['loadClasses'])
    }
  }
</script>
<style lang="scss">
  .empty-row {
    text-align: center;
  }
</style>
