<template>
  <div>
    <h2>Classes</h2>
    <p class="lead">
      Select one of the classes below to see student of the class
    </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Class Name</th>
          <th scope="col">Location</th>
          <th scope="col">Teacher Name</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="classes.length == 0">
          <td colspan="5" class="empty-row">
            We are alone here. Be the one to add the first class by filling the form below.
          </td>
        </tr>
        <tr v-for="(i, index) in classes" v-bind:class="{'table-info': selectedClass && selectedClass.id == i.id}" style="cursor:pointer;">
          <template v-if="editObject && editObject.id == i.id">
            <th>{{(index + 1)}}</th>
            <td><input type="text" class="form-control form-control-sm" v-model="editObject.name" /></td>
            <td><input type="text" class="form-control form-control-sm" v-model="editObject.location" /></td>
            <td><input type="text" class="form-control form-control-sm" v-model="editObject.teacherName" /></td>
            <td>
              <button class="btn btn-sm btn-success" v-on:click="endUpdate()">Update</button>
              <button class="btn btn-sm btn-warning" v-on:click="editObject = null">Cancel</button>
            </td>
          </template>
          <template v-else>
            <th v-on:click="changeSelectedClass(i)" scope="row">{{(index + 1)}}</th>
            <td v-on:click="changeSelectedClass(i)">{{i.name}}</td>
            <td v-on:click="changeSelectedClass(i)">{{i.location}}</td>
            <td v-on:click="changeSelectedClass(i)">{{i.teacherName}}</td>
            <td>
              <button class="btn btn-sm btn-primary" v-on:click="beginUpdate(i)">Edit</button>
              <button class="btn btn-sm btn-danger" v-on:click="deleteClass(i, index)">Delete</button>
            </td>
          </template>
        </tr>
        <tr>
          <td>Add</td>
          <td><input type="text" class="form-control form-control-sm" placeholder="Enter Name" v-model="newObject.name" /></td>
          <td><input type="text" class="form-control form-control-sm" placeholder="Enter Location" v-model="newObject.location" /></td>
          <td><input type="text" class="form-control form-control-sm" placeholder="Enter Teacher Name" v-model="newObject.teacherName" /></td>
          <td>
            <button class="btn btn-sm btn-success" v-on:click="add()">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import CommonService from '../Services/CommonService'
  export default {
    name: 'classes',
    data: () => ({
      newObject: { name: '', location: '', teacherName: '' },
      editObject: null,
    }),
    computed: {
      ...mapState(['selectedClass']),
      ...mapGetters([ 'classes' ])
    },
    methods: {
      ...mapActions([
        'loadClasses', 'addClass', 'updateClass', 'deleteClass',
        'changeSelectedClass'
      ]),

      add() {
        var self = this;
        this.addClass(this.newObject).then(r => {
          self.newObject = { name: '', location: '', teacherName: '' };
        }).catch(CommonService.Alert)
      },
      beginUpdate(item) {
        this.editObject = { ...item };
      },
      endUpdate() {
        var self = this;
        this.updateClass(this.editObject).then(r => {
          self.editObject = null;
        }).catch(CommonService.Alert)
      }
    }
  }
</script>
