<template>
  <div>
    <div v-if="selectedClass != null">
      <h2>Students of class: {{selectedClass.name}}</h2>
      <p class="lead">
        Select one of the classes below to see student of the class
      </p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student Name</th>
            <th scope="col">Age</th>
            <th scope="col">GPA</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(i, index) in students">
            <template v-if="editObject && editObject.id == i.id">
              <th scope="row">{{(index + 1)}}</th>
              <td class="form-inline">
                <input type="text" class="form-control form-control-sm" v-model="editObject.name" style="width:100px;" />
                <input type="text" class="form-control form-control-sm" v-model="editObject.family" style="width:100px; margin-left:5px;" />
              </td>
              <td><input type="text" class="form-control form-control-sm" v-model="editObject.age" /></td>
              <td><input type="text" class="form-control form-control-sm" v-model="editObject.gpa" /></td>
              <td>
                <button class="btn btn-sm btn-success" v-on:click="endUpdate()">Update</button>
                <button class="btn btn-sm btn-warning" v-on:click="editObject = null">Cancel</button>
              </td>
            </template>
            <template v-else>
              <th scope="row">{{(index + 1)}}</th>
              <td>{{i.name}} {{i.family}}</td>
              <td>{{i.age}}</td>
              <td>{{i.gpa}}</td>
              <td>
                <button class="btn btn-sm btn-primary" v-on:click="beginUpdate(i)">Edit</button>
                <button class="btn btn-sm btn-danger" v-on:click="deleteStudent(i, index)">Delete</button>
              </td>
            </template>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td class="form-inline">
              <input type="text" class="form-control form-control-sm" placeholder="Enter Name" v-model="newObject.name" style="width:100px;" />
              <input type="text" class="form-control form-control-sm" placeholder="Enter Family" v-model="newObject.family" style="width:100px; margin-left:5px;" />
            </td>
            <td><input type="text" class="form-control form-control-sm" placeholder="Enter Age" v-model="newObject.age" /></td>
            <td><input type="text" class="form-control form-control-sm" placeholder="Enter GPA" v-model="newObject.gpa" /></td>
            <td>
              <button class="btn btn-sm btn-success" v-on:click="add()">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <h2>Students List</h2>
      <p class="lead">
        Please select one of the classes above
      </p>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters, mapActions } from 'vuex'
  import CommonService from '../Services/CommonService'
  export default {
    name: 'students',
    data: () => ({
      newObject: { name: '', family: '', age: null, gpa: null },
      editObject: null,
    }),
    computed: {
      ...mapState(['selectedClass']),
      ...mapGetters(['students'])
    },
    methods: {
      ...mapActions([
        'loadStudentsInClass', 'addStudent', 'updateStudent', 'deleteStudent'
      ]),

      add() {
        var self = this;
        this.addStudent(this.newObject).then(r => {
          self.newObject = { name: '', family: '', age: null, gpa: null };
        }).catch(CommonService.Alert);
      },
      beginUpdate(item) {
        this.editObject = { ...item };
      },
      endUpdate() {
        var self = this;
        this.updateStudent(this.editObject).then(r => {
          self.editObject = null;
        }).catch(CommonService.Alert)
      },
    }
  }
</script>
